
* {
  box-sizing: border-box;
  font-family: 'New Tegomin', serif;
  margin:0; 
  padding: 0; 
}

html {
  font-size: 10px; 
}


/* colour root template */
:root {
  --inida-yellow: #967243;
  --white: #ffffff; 
  --light-grey: #E0DAD1;
  --grey: #A19D96; 
  --dark-grey:#47443D; 
  --pipe-black: #22201C; 
  --black: #141513;
  --blush: #AD807B; 
  --red:#7D3C36; 
  --violet: #694C60;
}

/* customised width template */
.center {
  max-width: 30rem;
  margin-left: auto; 
  margin-right: auto; 
}

.width-sm {
  max-width: 20rem; 
}

.width-lg {
  max-width: 40rem; 
}



.width-xl {
  max-width: 90rem; 
}



.width-max {
  max-width: 150rem; 
}




/* stack: control vertical space template */
.stack-sm > * + * {
  margin-top: 0
}

.stack-md > * + * {
  margin-top: 1rem
}

.stack-md > * + * {
  margin-top: 2rem
}

.stack-lg > * + * {
  margin-top: 2rem
}

.stack-xl > * + * {
  margin-top: 2rem
}

.stack-xxl > * + * {
  margin-top: 5rem
}

/* Flex template */
.row{
  display: flex;
  flex-wrap: wrap; 
  gap: 2rem; 
  align-items: center; 
}

.align-start{
  align-items: start;
}

.align-end{
  align-items: end; 
}

.justify-end{
  justify-content: end;
}

.justify-center{
  justify-content: center;
}

.justify-space-between{
  justify-content: space-between;
}

.gap-lg {
  gap: 5rem; 
}




/* grid template  */
.grid { 
  display: grid; 
  grid-template-columns: repeat(auto-fit, min-max(10rem 1fr));
  gap: 1rem;
}



body{
background-color: var(--light-grey);
}

header{
  height: 90vh; 
}

nav {
  padding-top: 2rem ;
}

nav > ul {list-style-type: none;}

ul > li > a {
  text-decoration: none;
  color:var(--inida-yellow); 
  font-size: 1.4rem ; 
}


h1 {
  font-size: 2.4rem; 
  color:var(--black)
}


h3 {
  font-size: 1.8rem;
}



.hero-p {
  font-size: 1.4rem;
  color: var(--inida-yellow)
}

.hero {
  height: calc(90vh - 4rem); 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  justify-content:flex-end; 
  overflow:hidden; 
 
  
  background-color: green;
}

#hero-grouping-div {
  background-color: red;  
  height: 90%; 
  width:80%; 
  padding: 0;
  position: relative;

}

.hero-text{
  position: absolute; 
  bottom: 67%;
  left: 10%; 
  background-color: purple
}

.hand-container {
  background-color: pink;
  position: absolute;
  width: calc(100% - 10%); 
  height: 70%; 
  bottom: 0;  
  left: 10%; 
  object-fit:cover; 
  
}
.hand {
  position: absolute; 
  max-height: 100%; 
  max-width: 100%; 
  block-size: auto; 
  object-fit:cover; 
  bottom: 0; 
  right: 0; 
}

 .slit-top-container, .slit-bottom-container{
  position: absolute; 
  background-color: green; 
  width: clamp(100px, 50%, 150px); 
  height: clamp(100px, 50%, 150px); 
  bottom: 10%; 
  left: 15%; 
}
.slit-top, .slit-bottom{
  position: absolute;  
  max-width: 100%; 
  max-height: 100%; 
  block-size: auto; 
  object-fit: contain;
  bottom:0; 
  
}






main {
  background-color: var(--grey);
}

.content-section {
  padding: 2rem; 
}

.content-element {

  text-align: right;
}

.content-element > .content-text > p {
  font-size: 1.4rem
}

.content-text-title-group {
  background-color: green;
}

.content-text h2, .content-text h3 {
  color: var(--black)
}

.content-text h2 {
  font-size: 1.4rem 
}

.content-text p {
  color: var(--white)
}

/* Associate section css */

.associate-section {
  padding: 2rem; 
  background-color: red;
  position: relative; 
}

.associate-section h2, .enquiry-section h2, .contact-section h2{
  text-align: center
}

.associate-section h2 {
  color: white
}

/* An issue here.  .row on html  doesn't work that why i put the display flex here */
.associate-gallery {
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 2rem;  
  background-color: blue; 
}



.associate-card-1 {
position: relative; 
}

.associate-pocket {
  position: absolute;
  left: 0; 
  transform: translate(0, 40%); 
  z-index: 1; 
}

.associate-text{
  position: absolute;
  transform: translate(30%, -80%);
  z-index: 2
}

/* enquiry section css  */
.enquiry-section {
  background-color: green;
  padding: 2rem; 
}

label, 
input, 
textarea, 
button {
  display: block; 
  
}

input, 
textarea, 
fieldset
 {
  width: 100%

}

textarea {
  resize: vertical;
}
 
button{
  width: 60%;   
  margin: auto

}

input[type="radio"],
input[type="checkbox"] {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
}


[type="checkbox"] + label,
[type="radio"] + label {
  display: flex;
  align-items: center;
}

[type="checkbox"] + label::before,
[type="radio"] + label::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid hsl(220, 10%, 75%);
  background-color: #fff;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}


[type="radio"] + label::before {
  border-radius: 50%;
}




[type="radio"]:checked + label::before {
  /* background-color: hsl(220, 30%, 40%); */
  background-image: radial-gradient(
    hsl(220, 30%, 40%),
    hsl(220, 30%, 40%) 40%,
    transparent 40%,
    transparent
  );
  /* box-shadow: inset 0 0 0 0.25em var(--bg); */
}

/* contact-section css */
.contact-section{
  background-color: yellowgreen; 
  padding: 2rem 
}

.contact-text {
  text-align: center; 
}

/* footer css */

footer {
  text-align: center;
  background-color: lightgreen;
}





/* Below are Jason's css setup  */

/* Initial Semantic Layout Tools */
  /* .placeholder {
    border-color: lightgrey;
    text-align: center;
  } */

  /* Element Function */
    /* .page {
      border-style: double;
      padding: 1rem;}
    .section {
      margin: 1rem;
      border-style: solid;
      border-color: var(--inida-yellow);
      padding: 1rem;
    } */
    /* .item {
      display: block;
      margin: 1rem;
      border-style: dashed;
      border-color:lightcoral;
      padding: 0.5rem;
    } */
    /* .component{
      display: block;
      margin: auto;
      border-style: dotted;
      border-color: lightsalmon;
      padding: 1rem;
    } */

  /* Element Level */
    /* .l0 {
      margin: 1rem;
      border-width: 16px;
      padding: 0.5rem;
    }
    .l1 {
      margin: 3rem, 1.5rem;
      border-width: 8px;
    }
    .l2 {border-width: 4px;}
    .l3 {border-width: 2px;}
    .l4 {border-width: 1px;}
    .l5 {border-width: 0.5px;}
    .l6 {border-width: 0px;} */

/* Layout Primitives */
    /* Flex */
      /* Parent
        .row_wrapYes {
          border-color: crimson; */
          /* Flex */
          /* display: flex;
          flex-flow: row wrap;
        }
        .row_wrapNo {
          border-color: darkred; */
          /* Flex */
          /* display: flex;
          flex-flow: row nowrap;
        }

        .justBetween {
          justify-content: space-between;
          align-content: stretch;
          align-items: stretch;
        }
        .justCentre {
          justify-content: space-around;
          align-content: stretch;
          align-items: stretch;
        }
        .justEnd {
          justify-content: flex-end;
          align-content: stretch;
          align-items: stretch;
        } */

      /* Child */
        /* .inRow_2Tight {
          margin: 1rem auto;
          flex: 1 1 40%;
        }
        .inRow_2Loose {
          margin: 1rem auto;
          flex: 0 1 40%;
        }
        .inRow_3Loose {
          margin: 1rem auto;
          flex: 0 1 30%;
        } */