
* {
  box-sizing: border-box;
}
/* customised width */
.center {
  max-width: 30rem;
  margin-left: auto; 
  margin-right: auto; 
}

.width-sm {
  max-width: 20rem; 
}

.width-lg {
  max-width: 40rem; 
}

.width-xl {
  max-width: 60rem; 
}


/* stack: control vertical space */
.stack-sm > * + * {
  margin-top: 1rem
}

.stack-md > * + * {
  margin-top: 1rem
}

.stack-md > * + * {
  margin-top: 2rem
}

.stack-lg > * + * {
  margin-top: 2rem
}

.stack-xl > * + * {
  margin-top: 2rem
}

/* Flex template */
.row{
  display: flex;
  flex-wrap: wrap; 
  gap: 1rem; 
  align-items: center; 
}

.align-start{
  align-items: start;
}

.align-end{
  align-items: end; 
}

.justify-end{
  justify-content: end;
}


/* grid template  */
.grid { 
  display: grid; 
  grid-template-columns: repeat(auto-fit, min-max(10rem 1fr));
  gap: 1rem;
}



/* colour  */






/* Below are Jason's css setup  */


nav > ul {list-style-type: none;}

/* Initial Semantic Layout Tools */
  .placeholder {
    border-color: lightgrey;
    text-align: center;
  }

  /* Element Function */
    .page {
      border-style: double;
      padding: 1rem;}
    .section {
      margin: 1rem;
      border-style: solid;
      border-color: indianred;
      padding: 1rem;
    }
    .item {
      display: block;
      margin: 1rem;
      border-style: dashed;
      border-color:lightcoral;
      padding: 0.5rem;
    }
    .component{
      display: block;
      margin: auto;
      border-style: dotted;
      border-color: lightsalmon;
      padding: 1rem;
    }

  /* Element Level */
    .l0 {
      margin: 1rem;
      border-width: 16px;
      padding: 0.5rem;
    }
    .l1 {
      margin: 3rem, 1.5rem;
      border-width: 8px;
    }
    .l2 {border-width: 4px;}
    .l3 {border-width: 2px;}
    .l4 {border-width: 1px;}
    .l5 {border-width: 0.5px;}
    .l6 {border-width: 0px;}

/* Layout Primitives */
    /* Flex */
      /* Parent */
        .row_wrapYes {
          border-color: crimson;
          /* Flex */
          display: flex;
          flex-flow: row wrap;
        }
        .row_wrapNo {
          border-color: darkred;
          /* Flex */
          display: flex;
          flex-flow: row nowrap;
        }

        .justBetween {
          justify-content: space-between;
          align-content: stretch;
          align-items: stretch;
        }
        .justCentre {
          justify-content: space-around;
          align-content: stretch;
          align-items: stretch;
        }
        .justEnd {
          justify-content: flex-end;
          align-content: stretch;
          align-items: stretch;
        }

      /* Child */
        .inRow_2Tight {
          margin: 1rem auto;
          flex: 1 1 40%;
        }
        .inRow_2Loose {
          margin: 1rem auto;
          flex: 0 1 40%;
        }
        .inRow_3Loose {
          margin: 1rem auto;
          flex: 0 1 30%;
        }