* {
  box-sizing: border-box;
  font-family: 'New Tegomin', serif;
}

html {font-size: 10px;}

/* colour root template */
:root {
  --inida-yellow: #967243;
  --white: #ffffff; 
  --light-grey: #E0DAD1;
  --grey: #A19D96; 
  --dark-grey:#47443D; 
  --pipe-black: #22201C; 
  --black: #141513;
  --blush: #AD807B; 
  --red:#7D3C36; 
  --violet: #694C60;
}

/* customised width template */
.center {
  max-width: 30rem;
  margin-left: auto; 
  margin-right: auto; 
}

.width-sm {max-width: 20rem;}
.width-lg {max-width: 40rem;}
.width-xl {max-width: 80rem;}
.width-max {max-width: 100rem;}


/* stack: control vertical space template */
.stack-sm > * + * {margin-top: 0;}
.stack-md > * + * {margin-top: 1rem;}
/*TODO: Ask Lucien if this is meant to be 1rem or 2
.stack-md > * + * {margin-top: 2rem}*/
.stack-lg > * + * {margin-top: 2rem;}
.stack-xl > * + * {margin-top: 2rem;}
.stack-xxl > * + * {margin-top: 5rem;}

/* Flex template */
.row{
  display: flex;
  flex-wrap: wrap; 
  gap: 2rem; 
  align-items: center; 
}

.align-start{align-items: start;}
.align-end{align-items: end;}
.justify-end{justify-content: end;}
.justify-center{justify-content: center;}
.justify-space-between{justify-content: space-between;}

.gap-lg {gap: 5rem;}


/* grid template  */
.grid { 
  display: grid; 
  grid-template-columns: repeat(auto-fit, min-max(10rem 1fr));
  gap: 1rem;
}

body{background-color: var(--light-grey);}

nav > ul {list-style-type: none;}

ul > li > a {
  text-decoration: none;
  color:var(--inida-yellow); 
  font-size: 1.4rem ; 
}

h1 {
  font-size: 2.4rem; 
  color:var(--black)
}

h3 {font-size: 1.8rem;}

.hero-p {
  font-size: 1.4rem;
  color: var(--inida-yellow)
}

.hero {
  height: 80vh; 
  position: relative;
}

.hero-text{
  position: absolute; 
  top: 8%;
  left: 50% 
}

.hand {
  position: absolute; 
  top:20%; 
  left:-80px
}
.slit-top {
  position: absolute; 
  top: 40%; 
  left: 65%; 
  z-index: -1;
}
.slit-bottom {
  position: absolute; 
  top: 40%; 
  left: 65%
}

main {background-color: var(--grey);}

.content-section {padding: 2rem;}
.content-element {text-align: right;}
.content-element > .content-text > p {font-size: 1.4rem;}
.content-text-title-group {background-color: green;}
.content-text h2, .content-text h3 {color: var(--black);}
.content-text h2 {font-size: 1.4rem }
.content-text p {color: var(--white)}

/* Associate section css */

.associate-section {
  padding: 2rem; 
  border: 2px solid red;
  position: relative; 
}

.associate-section h2,
.enquiry-section h2,
.contact-section h2 {text-align: center;}

.associate-section h2 {color: white;}

.associate-gallery {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  
  justify-items: center;
  align-items: center;

  justify-content: space-between;
  justify-items: center;

  border: 2px solid blue;
  height: auto;
}

.associateHolder {
  border: 2px dashed black;
  flex: 0 0 33%;
}

.associate {border: 2px dotted black;}

.associateCard {
  position: relative;
  transform: translate(0, 40%);
}

.associatePocket {
  position: relative;
  left: 0; 
  transform: translate(0, 40%);
  z-index: 1; 
}

.associateText{
  position: relative;
  transform: translate(30%, -80%);
  z-index: 2;
}

/* enquiry section css  */
.enquiry-section {
  border: 2px solid green;
  padding: 2rem; 
}

label, 
input, 
textarea, 
button {display: block;}

input, 
textarea, 
fieldset
 {width: 100%;}

textarea {resize: vertical;}
 
button{
  width: 60%;   
  margin: auto;
}

input[type="radio"],
input[type="checkbox"] {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
}

[type="checkbox"] + label,
[type="radio"] + label {
  display: flex;
  align-items: center;
}

[type="checkbox"] + label::before,
[type="radio"] + label::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid hsl(220, 10%, 75%);
  background-color: #fff;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

[type="radio"] + label::before {border-radius: 50%;}

[type="radio"]:checked + label::before {
  /* background-color: hsl(220, 30%, 40%); */
  background-image: radial-gradient(
    hsl(220, 30%, 40%),
    hsl(220, 30%, 40%) 40%,
    transparent 40%,
    transparent
  );
  /* box-shadow: inset 0 0 0 0.25em var(--bg); */
}

/* contact-section css */
.contact-section{
  border: 2px solid yellowgreen; 
  padding: 2rem 
}

.contact-text {text-align: center;}

/* footer css */

footer {
  text-align: center;
  border: 2px solid lightgreen;
}